<html>
  <head>
    <meta charset="utf-8">
    <title>GTWlabs IIoT DEMO</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css"></link>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
  <script>
    var ReactBsTable = window.BootstrapTable;
  </script>

  </head>
  <body>
	  <div id="reactbody">
	  </div>

	  <script src="/js/main.bundle.js"></script>
    <script src="/js/vendors.bundle.js"></script>
  </body>
</html>
