#login-page-main {
  height: 100%;
  background-image: url(./img/login_back.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

#login-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.panel-login {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  border: 3px dotted rgba(0,0,0,0.1);
  background-color: white;
}

.panel-login>.panel-heading {
	color: #00415d;
	border-color: #fff;
	text-align:center;
}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}


.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-trans-enter {
  opacity: 0.01;
}

.form-trans-enter.form-trans-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.form-trans-leave {
  opacity: 1;
}

.form-trans-leave.form-trans-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}